@model IEnumerable<CustomerSystem.ViewModels.BillVm>

@{
    ViewBag.Title = "billDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="margin-top:1rem">
    @Html.ActionLink("Yeni Oluştur", "billCreate", "Bill", new { @class = "btn btn-success" })
</p>
<table class="table table-striped table-dark" style="padding-top:2rem;">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.customer_id)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.customer_name)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.customer_surname)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.bill_total)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.bill_date)
        </th>
        <th scope="col"></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td scope="col">
        @Html.DisplayFor(modelItem => item.customer_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.customer_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.customer_surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.bill_total)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.bill_date)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "billEdit", new {  id=item.bill_id  }, new { @class="btn btn-warning" }) |
        @Html.ActionLink("Sil", "billDelete", new {  id=item.bill_id }, new { @class="btn btn-danger", onclick="return confirm('Bu faturayı silmek istiyor musunuz?');" })
    </td>
</tr>
}

</table>
