@model IEnumerable<CustomerSystem.ViewModels.CustomerVM>

@{
    ViewBag.Title = "customerDetail";
}

<p style="margin-top:1rem">
    @Html.ActionLink("Yeni Oluştur", "customerCreate" ,"CustomerDetails", new { @class="btn btn-success" })
</p>
<table class="table table-striped table-dark" style="padding-top:2rem;">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.customer_id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.customer_name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.customer_surname)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.customer_phone)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.customer_address)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.schedule_name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.schedule_speed)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <th scope="col">
            @Html.DisplayFor(modelItem => item.customer_id)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.customer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_speed)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "customerEdit", new { id=item.customer_id } , new { @class="btn btn-warning" }) |
            @Html.ActionLink("Sil", "customerDelete", new {  id=item.customer_id  }, new { @class="btn btn-danger" , onclick = "return confirm('Bu kullanıcıyı silmek istiyor musunuz?');" })
        </td>
    </tr>
}

</table>
